MSSQL="Server=tcp:.database.windows.net,1433;Initial Catalog=SqlKonferenz2024;Persist Security Info=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Authentication=Active Directory Default;"